<div style="padding: 32px">
  <h2>Turing machine</h2>

  <div
    style="display: flex; flex-direction: column; gap: 8px; margin-top: 24px"
  >
    <textarea
      pInputTextarea
      style="width: 100%; max-width: 610px; font-size: 14px; height: 100px"
      [(ngModel)]="inputValue"
      [spellcheck]="false"
      placeholder="Chain"
    ></textarea>
    <button
      pButton
      class="p-button-help"
      label="Load chain"
      style="width: 100%; max-width: 610px"
      (click)="onLoad()"
      [disabled]="!inputValue.length"
    ></button>
  </div>

  <div
    style="margin-top: 24px; display: flex; flex-direction: column; gap: 8px"
  >
    <button
      pButton
      class="p-button-info"
      label="Init"
      style="width: 100%; max-width: 610px"
      (click)="onInit()"
      [disabled]="machineState.tape.length === 17"
    ></button>
    <button
      pButton
      class="p-button-danger"
      label="Reset"
      style="width: 100%; max-width: 610px"
      (click)="onReset()"
      [disabled]="machineState.tape.length === 17"
    ></button>
  </div>

  <div class="machine-tape">
    <div class="machine-cell">
      <i
        class="pi pi-caret-down"
        [ngStyle]="{
          visibility: machineState.head === 'lambdaL' ? 'visible' : 'hidden'
        }"
      ></i>
      <div>λ</div>
    </div>

    <div
      class="machine-cell machine-cell--bordered"
      [ngClass]="{
        'var-a-cell': index <= 3,
        'var-b-cell': index > 3 && index <= 7,
        'var-c-cell': index > 7 && index <= 11,
        'var-t-cell': index > 11 && index <= 15,
        'init-s-cell': index === 16
      }"
      *ngFor="let item of machineState.tape; index as index"
    >
      <i
        class="pi pi-caret-down"
        [ngStyle]="{
          visibility: machineState.head === index ? 'visible' : 'hidden'
        }"
      ></i>
      <div>
        {{ item }}
      </div>
    </div>

    <div class="machine-cell">
      <i
        class="pi pi-caret-down"
        [ngStyle]="{
          visibility: machineState.head === 'lambdaR' ? 'visible' : 'hidden'
        }"
      ></i>
      <div>λ</div>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>
